[submodule "modul-2"]
	path = modul-2
	url = https://github.com/salsazufar/praktikum-papb-modul-2.git
[submodule "modul-3"]
	path = modul-3
	url = https://github.com/salsazufar/praktikum-papb-modul-3.git
[submodule "modul-4"]
	path = modul-4
	url = https://github.com/salsazufar/praktikum-papb-modul-4.git
[submodule "modul-5"]
	path = modul-5
	url = https://github.com/salsazufar/praktikum-papb-modul-5.git
[submodule "modul-6"]
	path = modul-6
	url = https://github.com/salsazufar/praktikum-papb-modul-6.git
[submodule "modul-7"]
	path = modul-7
	url = https://github.com/salsazufar/praktikum-papb-modul-7.git
